<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bishalniroj.loadsheddingreminder" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".LoadSheddingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectArea"
            android:label="@string/title_activity_select_area"
            android:theme="@android:style/Theme.Holo.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".CustomTimePicker"
            android:label="@string/title_activity_time_picker" >
        </activity>
        <activity
            android:name=".ViewScheduleActivity"
            android:label="@string/title_activity_view_schedule" >
        </activity>
        <activity
            android:name=".TabbedViewScheduleActivity"
            android:label="@string/title_activity_view_schedule">
        </activity>
        <activity
            android:name=".ReminderForLoadShedding"
            android:label="@string/title_reminder_for_loadshedding" >
        </activity>
        <service
            android:name=".service.LoadSheddingService"
            android:label="LoadSheddingService" >
        </service>
        <receiver android:name=".service.BroadCastReceivers">
        </receiver>
    </application>

</manifest>
